<div class="head">
    <h1>Contact us</h1>
    <h3>Tell us more and we'll find the best solution for you</h3>
    <input type="text" placeholder="Describe your issue">


    <h3>Quick Links</h3>
    <div class="nav">
        <ul>
            <li><a href="#">Most played songs</a></li> <br>
            <li><a routerLink="/login"> Update email</a></li> <br>
            <li><a routerLink="/register"> Update password</a></li> <br>
            <li><a href="#"> Cancel account</a></li> <br>
        </ul>
    </div>
</div>
